* {
  box-sizing: border-box;
}

body {
  background: darkgreen;
}

.dark {
  background-color: #ff9000;
  border: 3px solid orange;
  margin: 1px;
  border-radius: 3px;
  border-style: ridge;
}

.light {
  background-color: rgb(250, 255, 255);
  border: 3px solid rgb(250, 255, 255);
  margin: 1px;
  border-radius: 1px;
}

.board-grid {
  display: grid;
  min-width: 330px;
  width: 24%;
  min-height: 500px;
  height: 80vh;
  margin: 0 auto;
  grid-template-columns: repeat(10, 1fr);
  border: 10px solid rgb(75, 100, 100);
  background: gray;
  border-style: double;
}

.main-container {
  margin-top: 50px;
}
/* 
.game-container {
  display: grid;
  grid-template-columns: 5fr 1fr;
} */
